.Rproj.user\*
.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown
.DS_Store # if a windows user, Thumbs.db instead
public/ # if using Netlify

.Rhistory/*
.Rhistory/*/*
.Rproj.user/*
.Rproj.user/*/*
.Rproj.user/*/*/*

# pictures for generating icons
static/img/photos/*
public/img/photos/*
.Rproj.user/shared/notebooks/paths
.Rproj.user/FE4B4E91/sources/prop/INDEX
.Rproj.user/FE4B4E91/sources/prop/INDEX
*.pper
*.pper
.Rproj.user/FE4B4E91/pcs/files-pane.pper
.Rproj.user/FE4B4E91/pcs/source-pane.pper
.Rproj.user/FE4B4E91/pcs/windowlayoutstate.pper
.Rproj.user/FE4B4E91/pcs/workbench-pane.pper
.Rproj.user/FE4B4E91/rmd-outputs
.Rproj.user/FE4B4E91/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rhistory
